@page "/statistic"
@inherits QuestionsBase
@inject NavigationManager NavigationManager

<div class="container mt-3">
    @if (QuestionGroups == null)
    {
        @* <h3 class="text-center">Loading exams...</h3> *@
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                @* <span class="sr-only">Loading...</span> *@
            </div>
        </div>
    }
    else
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Groups</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var questionGroup in QuestionGroups)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td @onclick="() => HandleGroupClick(questionGroup.Id)" scope="row">@questionGroup.Title</td>
                        <td><button type="button" class="btn btn-danger" @onclick="() => RemoveStatisticAsync(questionGroup.Id)">Remove progress</button></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>

@code {
    private int i = 1;
    private void HandleGroupClick(Guid questionGroupId)
    {
        NavigationManager.NavigateTo($"/statistic/{questionGroupId}");
    }

    private async Task RemoveStatisticAsync(Guid questionGroupId)
    {
        await StatisticService.RemoveStatisticAsync(questionGroupId);
    }

}
