@page "/exams"
@inherits QuestionsBase
@inject NavigationManager NavigationManager

<div class="container mt-3">
    @if (QuestionGroups == null)
    {
        @* <h3 class="text-center">Loading exams...</h3> *@
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                @* <span class="sr-only">Loading...</span> *@
            </div>
        </div>
    }
    else
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exams</th>
                    <th scope="col">New</th>
                    <th scope="col">Learn</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var questionGroup in QuestionGroups)
                {
                    var questionAmountInfo = QuestionsAmountInfo.FirstOrDefault(q => q.GroupId == questionGroup.Id);
                    <tr>
                        <th scope="row">@i</th>
                        <td @onclick="() => HandleGroupClick(questionGroup.Id)" scope="row">@questionGroup.Title</td>
                        <td>@questionAmountInfo!.NewQuestions</td>
                        <td>@questionAmountInfo!.LearnAndGraduatedQuestions</td>
                        <td><button @onclick="() => ClickSettingButton(questionGroup.Id)" type="button" class="btn btn-primary">Setting</button></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>

@code {
    private int i = 1;
    private void ClickSettingButton(Guid questionGroupId)
    {
        NavigationManager.NavigateTo($"/question-group-settings/{questionGroupId}");
    }

    private void HandleGroupClick(Guid questionGroupId)
    {
        NavigationManager.NavigateTo($"/questions/{questionGroupId}");
    }
}
