@page "/exams"
@inherits QuestionsBase
@inject NavigationManager NavigationManager

<div class="container mt-3">
    @if (QuestionGroups == null)
    {
        @* <h3 class="text-center">Loading exams...</h3> *@
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                @* <span class="sr-only">Loading...</span> *@
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="text-center">Exams</h4>
                </div>
                <div class="col">
                    <h4 class="text-center">New</h4>
                </div>
                <div class="col">
                    <h4 class="text-center">Learn</h4>
                </div>
            </div>
            <div class="row">
                @foreach (var questionGroup in QuestionGroups)
                {
                    var questionAmountInfo = QuestionsAmountInfo.FirstOrDefault(q => q.GroupId == questionGroup.Id);
                    <div class="row">
                        <div class="row border-bottom justify-content-center">
                            <div class="col text-center" @onclick="() => HandleGroupClick(questionGroup.Id)">
                                <h4>
                                    @questionGroup.Title
                                </h4>
                            </div>
                            <div class="col text-center">
                                <h4>@questionAmountInfo!.NewQuestions</h4>
                            </div>
                            <div class="col text-center">
                                <h4>@questionAmountInfo!.LearnAndGraduatedQuestions</h4>
                            </div>
                            <button onclick="" type="button" class="btn btn-primary">Setting</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    private void ClickSettingButton(Guid questionGroupId)
    {
        NavigationManager.NavigateTo($"/questions/{questionGroupId}");
    }

    private void HandleGroupClick(Guid questionGroupId)
    {
        NavigationManager.NavigateTo($"/questions/{questionGroupId}");
    }
}
